{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div>
                    <h5 class="title">Add Appointment</h5>
                </div>
                <div>
                    <form action="{% url 'allPatients' %}" method="GET">
                        <button class="btn btn-info">APPOINTMENTS</button>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}

                    {% if messages %}
                    {% for message in messages %}
                    <div class="row justify-content-md-center">
                        <div class="alert alert-danger col-md-auto" role="alert">
                            {{ message }}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="row mt-3 p-1">
                        <div class="col-sm-12">
                            <div class="row ml-1">
                                <div class="col-xs-6 mr-2">
                                    {{ form.on_date|as_crispy_field }}
                                </div>
                                <div class="col-xs-6">
                                    <div class="mob ">
                                        <label class="text-grey mr-1">Time</label>
                                        <input class="ml-1 form-control" required list="times" type="time"
                                            name="at_time">
                                        <datalist id="times">
                                            <option value="09:00:00">
                                            <option value="09:15:00">
                                            <option value="09:30:00">
                                            <option value="09:45:00">
                                            <option value="10:00:00">
                                            <option value="10:15:00">
                                            <option value="10:30:00">
                                            <option value="10:45:00">
                                            <option value="11:00:00">
                                            <option value="11:15:00">
                                            <option value="11:30:00">
                                            <option value="11:45:00">
                                            <option value="12:00:00">
                                            <option value="12:15:00">
                                            <option value="12:30:00">
                                            <option value="12:45:00">
                                            <option value="13:00:00">
                                            <option value="13:15:00">
                                            <option value="13:30:00">
                                            <option value="13:45:00">
                                            <option value="14:00:00">
                                            <option value="14:15:00">
                                            <option value="14:30:00">
                                            <option value="14:45:00">
                                            <option value="15:00:00">
                                            <option value="15:15:00">
                                            <option value="15:30:00">
                                            <option value="15:45:00">
                                            <option value="16:00:00">
                                            <option value="16:15:00">
                                            <option value="16:30:00">
                                            <option value="16:45:00">
                                            <option value="17:00:00">
                                            <option value="17:15:00">
                                            <option value="17:30:00">
                                            <option value="17:45:00">
                                            <option value="18:00:00">
                                            <option value="18:00:00">
                                            <option value="18:15:00">
                                            <option value="18:30:00">
                                            <option value="18:45:00">
                                            <option value="19:00:00">
                                            <option value="19:15:00">
                                            <option value="19:45:00">
                                            <option value="20:00:00">
                                            <option value="20:15:00">
                                            <option value="20:30:00">
                                            <option value="20:45:00">
                                            <option value="21:00:00">
                                            <option value="21:15:00">
                                            <option value="21:30:00">
                                            <option value="21:45:00">
                                            <option value="22:00:00">
                                        </datalist>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-12 col-md-5">
                                    {{ form.patient_name|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.note|as_crispy_field }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">SAVE</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block jquery %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        //  change date format for birth date input
        $("#id_on_date").datepicker({
            dateFormat: 'mm-dd-yy'
        });

        $("#id_patient_name").autocomplete({
            source: "{% url 'fetchpatients' %}"
        });
    });
</script>
{% endblock jquery %}